### Step1. Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Step2. Creating & Reading the data

In [8]:
df= pd.read_csv(r"C:\Users\shrey\OneDrive\Desktop\Imaritcus Notes\Machine Learning\Random_Forest\Taxifare.csv",index_col=0)
df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
unique_id,,,,,,,
26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

### Step3. Data Exploration

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  object
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.1+ MB

Converting object into date time inbuilt feature of pandas

In [10]:
df.date_time_of_pickup= pd.to_datetime(df.date_time_of_pickup)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  datetime64[ns, UTC]
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 3.1+ MB

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
amount,50000.0,11.364171,9.685557,-5.000000,6.000000,8.500000,12.500000,200.000000
longitude_of_pickup,50000.0,-72.509756,10.393860,-75.423848,-73.992062,-73.981840,-73.967148,40.783472
latitude_of_pickup,50000.0,39.933759,6.224857,-74.006893,40.734880,40.752678,40.767360,401.083332
longitude_of_dropoff,50000.0,-72.504616,10.407570,-84.654241,-73.991152,-73.980082,-73.963584,40.851027
latitude_of_dropoff,50000.0,39.926251,6.014737,-74.006377,40.734372,40.753372,40.768167,43.415190
no_of_passenger,50000.0,1.667840,1.289195,0.000000,1.000000,1.000000,2.000000,6.000000

In [14]:
df=df.reset_index()

In [15]:
df.drop("unique_id",axis=1,inplace=True)

In [16]:
df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [17]:
df[df.amount<0].index

Int64Index([2039, 2486, 13032, 28839, 36722, 42337], dtype='int64')

In [18]:
df.drop(df[df.amount<0].index,axis=0,inplace=True)

In [19]:
df.shape

(49994, 7)

In [20]:
# extract various date time components as seperate variables
df = df.assign(hour = df.date_time_of_pickup.dt.hour, 
                         day = df.date_time_of_pickup.dt.day,
                        month = df.date_time_of_pickup.dt.month, 
                        year = df.date_time_of_pickup.dt.year, 
                        dayofweek = df.date_time_of_pickup.dt.dayofweek)

In [22]:
df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [23]:
df.drop("date_time_of_pickup",axis=1,inplace=True)

In [24]:
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [31]:
df.latitude_of_pickup.value_counts().index.sort_values(ascending=True)

Float64Index([-74.006893,  -74.00621, -74.004027,    -73.995, -73.992947,
               -73.99184, -73.988467, -73.987585, -73.987307, -73.986968,
              ...
                41.03249,  41.035688,  41.150487,  41.366138,  41.391042,
               41.523217,      41.65,  42.160275,  43.098708, 401.083332],
             dtype='float64', length=36589)

In [32]:
df.latitude_of_pickup.replace(401.083332,40.1083332,inplace=True)

In [38]:
df.latitude_of_pickup.value_counts().index

Float64Index([  41.366138,   40.756007,   40.763975,     40.7575,     40.7503,
                40.774047,   40.759887,   40.747282,     40.7791,    40.76149,
              ...
                40.770801,   40.732879, 40.74837112,   40.772615,   40.724379,
                40.725295,   40.768578,   40.740649,   40.772588,   40.768434],
             dtype='float64', length=36588)

In [35]:
df.drop(df[df.latitude_of_pickup==0].index,inplace=True)

In [36]:
df.shape

(49039, 11)

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
amount,49039.0,11.363045,9.660671,0.000000,6.000000,8.500000,12.500000,200.000000
longitude_of_pickup,49039.0,-73.921659,2.400908,-75.423848,-73.992297,-73.982113,-73.968346,40.783472
latitude_of_pickup,49039.0,40.703984,2.280072,-74.006893,40.736468,40.753405,40.767742,43.098708
longitude_of_dropoff,49039.0,-73.856075,3.243895,-84.654241,-73.991316,-73.980447,-73.965183,40.851027
latitude_of_dropoff,49039.0,40.670453,2.566541,-74.006377,40.735774,40.754046,40.768464,43.415190
no_of_passenger,49039.0,1.669222,1.290358,0.000000,1.000000,1.000000,2.000000,6.000000
hour,49039.0,13.483880,6.503330,0.000000,9.000000,14.000000,19.000000,23.000000
day,49039.0,15.667489,8.659578,1.000000,8.000000,16.000000,23.000000,31.000000
month,49039.0,6.272783,3.460880,1.000000,3.000000,6.000000,9.000000,12.000000
year,49039.0,2011.740125,1.864776,2009.000000,2010.000000,2012.000000,2013.000000,2015.000000
dayofweek,49039.0,3.031016,1.956112,0.000000,1.000000,3.000000,5.000000,6.000000

In [41]:
pip install haversine

Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0
Note: you may need to restart the kernel to use updated packages.

Haversine- Use to find out the distance between two geographical locations.

In [44]:
from haversine import haversine, Unit
#df.apply(lambda x: func(x['col1'],x['col2']),axis=1)
#haversine((lat1,long1),(lat2,long2))
df['travel_dist_km']=df.apply(lambda row: haversine((row["latitude_of_pickup"],row["longitude_of_pickup"]),
                                                              (row["latitude_of_dropoff"],row["longitude_of_dropoff"]),
                                                              unit=Unit.KILOMETERS),axis=1)

In [45]:
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek,travel_dist_km
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0,1.030765
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1,8.450145
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3,1.389527
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5,2.799274
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1,1.999160

In [48]:
df.drop(["longitude_of_pickup","latitude_of_pickup","longitude_of_dropoff","latitude_of_dropoff"],axis=1,inplace=True)

In [49]:
df.head()

   amount  no_of_passenger  hour  day  month  year  dayofweek  travel_dist_km
0     4.5                1    17   15      6  2009          0        1.030765
1    16.9                1    16    5      1  2010          1        8.450145
2     5.7                2     0   18      8  2011          3        1.389527
3     7.7                1     4   21      4  2012          5        2.799274
4     5.3                1     7    9      3  2010          1        1.999160

### Step4. Creating X & Y

In [55]:
X=df.values[:,1:]
Y=df.values[:,0]

In [56]:
from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

scaler.fit(X)
X= scaler.transform(X)

## Step5. Shuffle and Split Data

In [57]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [60]:
#predicting using the Decision_Tree_Classifier
from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(criterion="squared_error",
                                          random_state=10,splitter="best")

#fit the model on the data and predict the values
model_DecisionTree.fit(X_train,Y_train)
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)
#print(list(zip(Y_test,Y_pred)))

[ 5.  10.5 13.  ...  5.7  7.3  7.7]

In [66]:
model_DecisionTree.score(X_train,Y_train)

1.0

# Evaluation

In [65]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.49985144640331824
RMSE: 6.785508303263625
Adj R-square: 0.49978004178429813

# Pruning

In [68]:
#predicting using the Decision_Tree_Classifier
from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(max_depth=5,min_samples_leaf=5,
                                          random_state=10,splitter="best")

#fit the model on the data and predict the values
model_DecisionTree.fit(X_train,Y_train)
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)
#print(list(zip(Y_test,Y_pred)))

[ 5.57594595  9.87529775 13.93276403 ...  7.31967228  7.31967228
  8.35001304]

In [71]:
model_DecisionTree.score(X_train,Y_train)

0.7661672803087499

In [70]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7420697425487477
RMSE: 4.872861003661966
Adj R-square: 0.7420329186658541

In [84]:
print(list(zip(df.columns[1:],model_DecisionTree.feature_importances_)))

[('no_of_passenger', 0.0), ('hour', 0.00036626593956814605), ('day', 0.0), ('month', 0.0), ('year', 0.021750939499978608), ('dayofweek', 0.0), ('travel_dist_km', 0.9778827945604531)]

In [85]:
from sklearn import tree
with open(r"C:\Users\shrey\OneDrive\Desktop\Imaritcus Notes\Machine Learning\Random_Forest\model_DecisionTree", "w") as f:
    
    f = tree.export_graphviz(model_DecisionTree, feature_names=df.columns[1:],
                             out_file=f)

# Random Forest Regressor

In [82]:
#predicting using the Random_Forest_Classifier
from sklearn.ensemble import RandomForestRegressor

model_RandomForest=RandomForestRegressor(n_estimators=100, max_depth=5,min_samples_leaf=5,
                                          random_state=10)
#n_jobs are use to priotize the current work

#fit the model on the data and predict the values
model_RandomForest.fit(X_train,Y_train)
Y_pred=model_RandomForest.predict(X_test)
#print(Y_pred)
#print(list(zip(Y_test,Y_pred)))

In [83]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7475864301373605
RMSE: 4.820468255289968
Adj R-square: 0.7475503938544162

# KNN R

In [89]:
#predicting using the KNeighbors_Regressor
from sklearn.neighbors import KNeighborsRegressor
model_KNN=KNeighborsRegressor(n_neighbors=222,
                              metric='euclidean')

#euclidean,manhattan,minkowski
#fit the model on the data and predict the values
model_KNN.fit(X_train,Y_train)

Y_pred=model_KNN.predict(X_test)
#print(list(zip(Y_test,Y_pred)))

In [90]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.012138166362114289
RMSE: 9.536323627630459
Adj R-square: 0.011997132468547611

# SVR

In [ ]:
from sklearn.svm import SVR
svc_model=SVR(kernel="rbf",C=1,gamma=0.1)
svc_model.fit(X_train,Y_train)
Y_pred= svc_model.predict(X_test)
print(list(Y_pred))

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)